@model StudioDonder.HelloGeneticAlgorithm.Website.HomeIndexViewModel

<h1>Simulation</h1>

<section>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Simulation form</legend>
            <ol>
                <li>
                    @Html.LabelFor(m => m.Target)
                    @Html.TextBoxFor(m => m.Target)
                    @Html.ValidationMessageFor(m => m.Target)
                </li>
                
                <li>
                    @Html.LabelFor(m => m.PopulationSize)
                    @Html.TextBoxFor(m => m.PopulationSize)
                    @Html.ValidationMessageFor(m => m.PopulationSize)
                </li>
                
                <li>
                    @Html.LabelFor(m => m.NumberOfGenerations)
                    @Html.TextBoxFor(m => m.NumberOfGenerations)
                    @Html.ValidationMessageFor(m => m.NumberOfGenerations)
                </li>
                
                <li>
                    @Html.LabelFor(m => m.CrossoverPoint)
                    @Html.TextBoxFor(m => m.CrossoverPoint)
                    @Html.ValidationMessageFor(m => m.CrossoverPoint)
                </li>
                
                <li>
                    @Html.LabelFor(m => m.MutationProbability)
                    @Html.TextBoxFor(m => m.MutationProbability)
                    @Html.ValidationMessageFor(m => m.MutationProbability)
                </li>
                
                <li>
                    @Html.LabelFor(m => m.TournamentSize)
                    @Html.TextBoxFor(m => m.TournamentSize)
                    @Html.ValidationMessageFor(m => m.TournamentSize)
                </li>
            </ol>
            <input type="submit" value="Start simulation" />
        </fieldset>
    }
</section>

@if (Model.Generations.Any())
{
<h2>Result of simulation</h2>

<table id="simulationResults">
    <thead>
        <tr>
            <th>Generation #</th>
            <th>Most fit individual</th>
            <th>Maximum fitness</th>
            <th>Average fitness</th>
            <th>Minimum fitness</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var generation in Model.Generations)
        {
            <tr>
                <th>@generation.GenerationNumber</th>
                <th>@generation.MostFitIndividual.Value (@generation.MostFitIndividual.Fitness)</th>
                <th>@generation.MaximumFitness</th>
                <th>@generation.AverageFitness</th>
                <th>@generation.MinimumFitness</th>
            </tr>
        }
    </tbody>
</table>
}